  <header class="row">
    <div class="ten columns mobile-three">
      <h2>Edit Site</h2> 
    </div>
    <div class="two columns mobile-one">
    </div>    
  </header>
  <hr>

  
  <section>
    <div class="row">
      <div class="twelve columns mobile-four">

        <%= form_for(@site,url: system_site_path(@site.id) ) do |f| %>
          <%= f.label :title %>
          <%= f.text_field :title ,size: 30,autofocus: true,placeholder: 'Enter site title' %>   

          <%= f.label :network_id%>
          <%= f.collection_select(:network_id, @networks, :id, :title, {:prompt => true}) %>          

          <%= f.label :is_network %>
          <%= f.check_box :is_network %>          

          <%= f.label :is_contributor %>
          <%= f.check_box :is_contributor %>          
        
          <%= f.label :status%>
          <%= f.select(:status, Site::STATES_LIST, {:include_blank => false}) %>          
        

          <%= f.submit 'Save', class: 'right button radius'%>
        <%end%>
        
      </div>
    </div>
  </section>