<div class="checkbox">
  <label>
    <input type="checkbox" id="{{view_id}}_{{hash.id}}" name="{{hash.name}}" value="{{hash.value}}" {{#is hash.value '==' hash.checked}}checked="checked"{{/is}}> {{hash.title}}
  </label>
</div>    

