<div class="form-group">
  <label for="{{view_id}}_{{hash.id}}">{{hash.title}}</label>
  <textarea class="form-control" id="{{view_id}}_{{hash.id}}" name="{{hash.name}}" placeholder="{{hash.placeholder}}" rows="{{hash.rows}}">{{{hash.value}}}</textarea>
</div>