
  <div class="page-content">
    <div class="navbar navbar-static-top navbar-default">
      <div class="navbar-content">
        <a href="users/new" class="btn btn-default navbar-btn pull-right hidden">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
        
        <h1 class="unselectable">Users</h1>
      </div>
    </div><!--/navbar-->
  
  
    <div class="page-content-body scrollbars">
      <div class="grid">
        {{#items}}
        <div class="media">       
          {{#if preview_url}}
          <a class="pull-left" href="users/{{id}}">
            <img width="160" height="90" src="{{preview_url}}/resize/fill/width/320/height/180/format.jpg" >
          </a>
          {{/if}}          
          <div class="media-body">
            <h4 class="media-heading"><a href="users/{{id}}">{{name}} <span class="label label-info">{{role}}</span></a></h4>
            <p>{{bio}}</p>
          </div>
        </div>
        {{/items}}
      
      </div>

    </div><!--/content-body-->
  </div><!--/content-->