<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%=clean(current_site.title.presence || curent_site.host)%> - <%=yield :title %> </title>

    <%= stylesheet_link_tag    "application" %>
    <%#= stylesheet_link_tag "security", :media => "all" %>
    <%#= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <%= csrf_meta_tags %>
  </head>

  <%=content_tag :body, :class=>["controller_#{controller_name}","action_#{action_name}","namespace_#{controller_namespace}"] do %>
    <div class="row">
      <div class="twelve columns">
        <%=yield%>
      </div>
    </div>
  <%end%>
  <!-- <body>
    <%#= yield %>
  </body> -->
</html>
